.espace {
  margin-left: 5px;
}

.block {
  display: block;
  width: fit-content;
}

.margin-bottom {
  margin-bottom: 20px;
}

.general-info-tooltip {
  position: relative;
  left: 10px;
  top: 5px;
  display: inline;
}