mat-card {
    margin-top: 10px;
    margin-bottom: 1px;
    width: 600px;
}

.add-relation-button {
    position: absolute;
    right: 10px;
    top: 7px;
}

.create-establishment-button {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
}

.error-message {
    margin-top: 10px;
}

.establishment-name {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 100px;
  text-overflow: ellipsis;
}
