<h2 mat-dialog-title>{{'broadcast.selectedAdministrations'|translate}}</h2>

<mat-dialog-content>

  <button mat-stroked-button *ngIf="enableUseSelectionButton()" color="warn" id="clean-button" (click)="cleanAllList()">
    <mat-icon>delete_sweep</mat-icon>{{'action.cleanAllSelection'|translate}}
  </button>

  <mat-tab-group mat-stretch-tabs>

    <mat-tab [label]="'db.administrationTypes.plural.' + administrationTypesEnum.ESTABLISHMENT|translate">
      <app-data-selector-basket-list #establishmentList [administrationType]="administrationTypesEnum.ESTABLISHMENT">
      </app-data-selector-basket-list>
    </mat-tab>

    <mat-tab [label]="'db.administrationTypes.plural.' + administrationTypesEnum.DOC_STRUCT|translate">
      <app-data-selector-basket-list #docStructList [administrationType]="administrationTypesEnum.DOC_STRUCT">
      </app-data-selector-basket-list>
    </mat-tab>

    <mat-tab [label]="'db.administrationTypes.plural.' + administrationTypesEnum.PHYSIC_LIB|translate">
      <app-data-selector-basket-list #physicLibList [administrationType]="administrationTypesEnum.PHYSIC_LIB">
      </app-data-selector-basket-list>
    </mat-tab>

  </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>{{'action.close'|translate}}</button>
  <button mat-flat-button color="accent" [mat-dialog-close]="true"
    [disabled]="!enableUseSelectionButton()">{{'info.useMySelection'|translate}}</button>
</mat-dialog-actions>
