.select-region {
  margin-top: 5px;
  width: 300px;
  display: inline-block;
  margin-right: 5px;
}

h2 {
  margin-bottom: 0px;
}

h3 {
    margin-top: 5px;
  }

mat-divider {
  margin-top: 5px;
}

.mat-form-field {
  margin-bottom: -1.34375em;
}

.display-all-button {
  margin-top: 5px;

  mat-icon {
    margin-right: 5px;
  }
}
