.form-full-width {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 10px;
  margin-right: 5px;
}

.margin {
  margin-right: 10px;
}

.button {
  margin-right: 5px;
  margin-top: 5px;
}

#autosave-checkbox {
  display: block;
  margin-bottom: 5px;
}

.margin-top {
  margin-top: 5px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.form-title {
  width: 50%;
}
