<ng-container *ngIf="editorialForm != null">

  <button mat-stroked-button mat-line routerLink="/editorials/global"
    class="button">{{'action.cancel'|translate}}</button>
  <button mat-flat-button mat-line color="accent" (click)="saveEditorial(true)" class="button"
    [disabled]="!editorialForm.valid">{{'action.apply'|translate}}</button>
  <button mat-flat-button mat-line color="primary" (click)="saveEditorial(false)" class="button"
    [disabled]="!editorialForm.valid">{{'action.save'|translate}}</button>

  <em *ngIf="lastSave">{{'info.lastSave'|translate}}
    {{lastSave|date:'mediumTime':'':locale}}</em>


  <div id="saveInfo" class="margin-top">
    <mat-checkbox id="autosave-checkbox" [(ngModel)]="autoSave">{{'info.autoSave'|translate}}</mat-checkbox>
  </div>

  <form [formGroup]="editorialForm" class="margin">

    <button mat-stroked-button color="primary" (click)="addTab()" class="margin-bottom">
      <mat-icon>add</mat-icon>{{'editorial.addSection'|translate}}
    </button>


    <mat-tab-group dynamicHeight animationDuration="0ms" *ngIf="initialized">

      <mat-tab *ngFor="let tab of editorial; let index = index" [label]="f[titleKey + index].value">

        <mat-form-field class="margin margin-top form-title">
          <mat-label>{{'editorial.sectionTitle'|translate}}</mat-label>
          <input matInput [formControlName]="titleKey + index" type="text" required>
        </mat-form-field>

        <button mat-stroked-button color="warn" (click)="removeTab(index)">
          <mat-icon>delete</mat-icon>{{'action.delete'|translate}}
        </button>

        <angular-editor [formControlName]="contentKey + index" [config]="editorConfig"
          placeholder="{{'editorial.content'|translate}}">
        </angular-editor>
      </mat-tab>

    </mat-tab-group>
  </form>
</ng-container>