<h1 mat-dialog-title>{{'survey.updateGroupInstructionDialogTitle'|translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="instructionGroupForm">
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onChangeTab($event)">
      <mat-tab *ngFor="let lang of langs; index as i"
        [label]="getTabLabel(i, lang)|translate">

        <mat-form-field class="full-width">
          <mat-label>{{'survey.instruction'|translate}}</mat-label>
          <textarea cdkTextareaAutosize matInput [formControlName]="lang.language"
            placeholder="{{'survey.noInstruction'|translate}}"></textarea>
        </mat-form-field>

      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">{{'action.cancel'|translate}}</button>
  <button mat-flat-button color="primary" (click)="onApplyClick()">{{'action.apply'|translate}}</button>
</div>
