<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index;">
    <ng-container *ngIf="column != 'active'; else activeBlock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'docStruct.view.'+column|translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <ng-template #activeBlock>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'docStruct.view.'+column|translate}}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element[column]; else disable">
          <mat-icon color="primary">check_circle_outline</mat-icon>
        </ng-container>
        <ng-template #disable>
          <mat-icon color="warn">remove_circle_outline</mat-icon>
        </ng-template>
      </td>
    </ng-template>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
    routerLink="/documentary-structures/{{element.id}}">
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
