.right {
  margin-left: auto;
}

em {
  margin-left: 10px;
  margin-right: 10px;
}

strong {
  margin-right: 5px;
}

.grey {
  color: grey;
}

.default {
  color: #ff4081;
}

.flex-box {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-top: 3px;
  }
