.full-width {
  width: 100%;
}

.comment {
  font-weight: normal;
  font-size: 13px;
}

#function-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  list-style-type: square;
}

ul {
  padding-left: 13px;
}
