.expandButton {
  display: inline;
  margin-right: 10px;
}

.expandButton mat-icon {
  font-size: 25px;
}

#title {
  display: inline;
}

.block {
  display: block;
}

.title-tree-section {
  background-color: #000091;
  color: white;
  margin-left: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select-all-button {
  left: 20px;
  top: 5px;
  margin-bottom: 12px;
}
