table {
  width: 100%;
}

th {
  font-size: 14px;
}

.menu-button {
  margin-bottom: 3px;
}

tr.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: block;
}

.element-row td {
  border-bottom-width: 0;
}

.json {
  max-width: 10px;
}

.add-icon {
  position: absolute;
  top: 15px;
  font-size: 18px;
  left: -3px;
}
