<h1 mat-dialog-title>{{(data.group == null ? 'group.create' : 'group.edit')|translate}}</h1>

<div mat-dialog-content>
  <app-group-view [allGroup]="data.groupList" [group]="data.group" [nodes]="data.nodes"></app-group-view>
</div>

<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">{{'action.cancel'|translate}}</button>
  <button mat-flat-button color="primary" (click)="onApplyClick()"
    [disabled]="!groupView?.groupForm.valid">{{'action.apply'|translate}}</button>
</div>
