.group-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.group-content {
  background-color: white;
}

.header {
  padding-left: 10px;
  height: auto;
  margin-top: 10px;
}

.change-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  top: -5px;
}

.group-title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.admin-link {
  display: inline-block;
}

.admin-link a {
  text-decoration: none;
  color: black;
}

.admin-link {
  margin-left: auto;
  margin-right: auto;
}

.admin-link h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: normal;
}

mat-divider {
  margin-bottom: 5px;
  margin-right: 10px;
}

.group-tree {
  padding-bottom: 45px;
  width: 360px;
}

.group-instruction {
  font-size: 13px;
}

.progress-status {
  float: right;
  margin-right: 5px;
}