<app-loader></app-loader>
<ng-container *ngIf="!(loaderService.isLoading|async)">
  <div *ngIf="searchResult | async as result">
    <div *ngIf="result.length > 0; else noResult">
      <ng-container *ngFor="let docStruct of result">
        <mat-card>
          <div class="doc-struct-name" title="{{docStruct.useName}}">({{docStruct.id}}) {{ docStruct.useName }}
          </div>
          <button class=" add-relation-button" mat-flat-button color="accent" (click)="onLink(docStruct)">
            {{'action.link'|translate}}</button>
        </mat-card>
      </ng-container>
    </div>
    <ng-template #noResult>
      <div class="error-message" *ngIf="(hasSearch | async)">
        {{'error.noDocStructFound'|translate}}
        <button class="create-doc-struct-button" mat-flat-button color="accent"
          [disabled]="rightsChecker.disabled('/documentary-structures/create')"
          (click)="onCreateDocStruct()">{{'app.docStruct.create'|translate}}</button></div>
    </ng-template>
  </div>
</ng-container>
