<mat-card class=".list-item" *ngFor="let physicLib of physicLibList" mat-stroked-button mat-line
  routerLink="/physical-libraries/{{physicLib.id}}" title="{{physicLib.useName}}">({{physicLib.sortOrder}})
  {{physicLib.useName}}</mat-card>

<p *ngIf="showNoPhysicLibMessage"><em>{{'error.noPhysicLibLinked'|translate}}</em></p>

<div id="physic-lib-history" *ngIf="(physicLibHistory.size > 0 && surveyList.size > 0) 
  && !(physicLibHistory.size === 1 && physicLibHistory.has(lastSurvey?.id))">
  <h2>{{'docStruct.oldPhysicLib'|translate}}</h2>

  <mat-accordion>

    <ng-container *ngFor="let historyBySurvey of physicLibHistory|keyvalue:keyDescOrder">
      <mat-expansion-panel *ngIf="surveyList?.has(historyBySurvey.key)">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>{{surveyList.get(historyBySurvey.key).dataCalendarYear|date:'yyyy'}}</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class=".list-item" *ngFor="let historyLine of historyBySurvey.value" mat-stroked-button mat-line
          routerLink="/physical-libraries/{{historyLine.physicLib.id}}" title="{{historyLine.physicLib.useName}}">
          ({{historyLine.physicLib.sortOrder}}) {{historyLine.physicLib.useName}}</mat-card>

      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

</div>