<form class="search-establishment-form">
  <mat-form-field class="establishment-form-full-width">
    <input matInput [(ngModel)]="queryValue" name="searchBar"
      placeholder="{{'establishment.search.searchBar'|translate}}">
    <mat-icon matSuffix id="help" color="primary" #tooltip="matTooltip" matTooltipPosition="right"
      (click)="tooltip.toggle()" matTooltip="{{'establishment.search.info'|translate}}" matTooltipClass="help-tooltip">
      help
    </mat-icon>
  </mat-form-field>
  <button class="search-button" mat-flat-button (click)="onSearch()"
    color="primary">{{'establishment.search.research'|translate}}</button>
</form>