.physic-lib-title {
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline;
  max-width: 290px;
}

.button-title {
  margin-right: 10px;
  margin-left: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.modify-group {
  position: relative;
  top: -8px;
  left: 4px;
}

.expandButton {
  display: inline;
}

.expandButton mat-icon {
  font-size: 25px;
}

.mat-tree {
  width: 360px;
}

.background-highlight {
  background-color: #c2185c3f;
}

.missing-parent-group {
  color: chocolate;
}

.missing-group {
  color: firebrick !important;
}
