input.mat-input-element {
  color: black !important;
}

mat-form-field {
  line-height: 1em;
}

.dynamic-input .mat-form-field-infix {
  padding-top: 0px;
}

.mat-input-element.right {
  text-align: right;
}
