mat-hint {
    margin-right: 10px;
}

mat-form-field {
    line-height: 1.2em;
}

.dynamic-input .mat-form-field-infix {
    padding-top: 0px;
}

.long-text {
  width: 94%;
}

#help {
  margin-right: 5px;
}
