.user-update-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.user-form-full-width {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 10px;
}

.user-active-radio-group {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-status-radio-button {
  margin: 5px;
}

h1 {
  margin: 0px;
}

.tooltipInfo {
  color: orange;
}

.info-chips {
  display: inline-block;
  margin-bottom: 10px;
}
