.full-width {
  width: 100%;
}

.checkbox-data-type {
  display: inline-block;
  margin-bottom: 5px;
}

.divider {
  margin-bottom: 5px;
}

.data-type-tooltip {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: 7px;
}

.last-check-box {
  margin-bottom: 15px;
}
